[Unit]
Description=Rebooter
After=network-online.target

[Service]
ExecStart=/usr/local/lib/restart-node/restart-node.sh
Restart=on-failure
RestartSec=5
StartLimitIntervalSec=5
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
